.toolbar{
    background-color: var(--toolbar);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.upper-toolbar{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.lower-toolbar{
    flex-grow: 1;
    display:flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

.toolbar .material-icons{
    font-size: 30px;
    color : #999;
    padding: 7px;
    cursor: pointer;
}

.toolbar .material-icons:hover{
    color : #eee;
    border: 1px solid var(--toolbar)
}