.menubar .parent { 
	display: block;
	position: relative;
	float: left;
	line-height: 30px;
	background-color: var(--titlebar);
}

.menubar .parent label {
	display:block;
    padding:0 10px;	
    margin:0;
	color:#FFF;
	font-size:12px;
	line-height: 30px;
}

.menubar .child label {
	box-shadow: 0 4px 4px var(--balck);
}

.menubar>ul>li>label>i { 
	float:right;
	font-size: 0px;
	visibility: hidden;
}

.menubar ul ul li> label>i{
	line-height: var(--title-bar-height);
	float:right;
}

.menubar .parent:hover > ul {
	display:block;
	position:absolute;
}

.menubar .child {
	display: none;
}

.menubar .child li { 
	background-color: var(--titlebar);
	line-height: var(--title-bar-height);
	width:200px;
}

.menubar .child li label{
	color: var(--text);
}

.menubar ul { 
	list-style: none;
	margin: 0;
	padding: 0px;
	min-width:10em;
}

.menubar ul ul ul{
	left: 100%;
	top: 0;
	margin-left:1px;
}

.menubar li:hover {
	background-color: var(--titlebarhover);
}

.menubar .parent li:hover {
	background-color: var(--bghover);
}

.menubar .expand{
	font-size:12px;
	float:right;
	margin-right:5px;
}